<div class="whitebox">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                              data-toggle="tab">Sign In</a></li>
    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Sign
      Up</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
      <%= render 'users/shared/sigin_form' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="home">
      <%= render 'users/shared/signup_form' %>
    </div>
  </div>

</div>
