<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'frombox'}) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email Address ' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password ' %>
    </div>
    <button type="submit" class="btn btn-default">Sign In</button>
    <div class="checkbox">

      Need Help?

    </div>
<% end  %>