<div id="page-wrapper">
  <div class="row">
    <p>&nbsp;</p>
    <div class="panel panel-default">
      <div class="panel-heading indiviuals_list">
        ISP/BSP Training List

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>S. No.</th>
              <th>Individual Name</th>
              <th>Date of Training</th>
              <th>Last Edited</th>
              <th colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            <% @bsp_trainings.each_with_index do |bsp, i| %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= bsp.user.full_name if bsp.user.present? %></td>
                  <td><%= bsp.date %></td>
                  <td><%= bsp.updated_at %></td>
                  <td><%= link_to edit_bsp_training_path(bsp) do %>
                        <%= image_tag 'setting.png' %> Edit
                    <% end %>
                  </td>
                  <td>
                    <% if current_user.admin? %>
                        <%= link_to  bsp_training_path(bsp,authenticity_token: form_authenticity_token), method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <%= image_tag 'delete.png' %> Delete
                        <% end %>
                    <% end %>
                  </td>
                </tr>
                <tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>


      <!-- /.panel-body -->
    </div>
    <%= link_to 'Add New Entry', new_bsp_training_path, class: 'btn add_entry' if current_user.admin? %>
    <%#= link_to 'Create PDF document', bsp_trainings_path(:pdf) %>
  </div>
  <!-- /.row -->
</div>

<script type="text/javascript">
  $(".save-as-pdf" ).click(function() {
    window.location.replace("<%= bsp_trainings_path(:pdf) %>")
  });
</script>