<div id="page-wrapper">
  <div class="row">
    <div class="headline text-center">
      <h4>Quality Comfort Living & Services LLC</h4>
    </div>
    <div class="space"></div>

    <div>
      <span>ISP/BSP Training</span> <span style="float: right">Individual Name: <%= @name %> </span>
    </div>

<table class="table medication-count-table mar-table">
  <thead>
  <tr>
    <th>Date of Training</th>
    <th>Signature of DD Personnel Receiving Training</th>
    <th>Initials</th>
    <th>Signature Of Trainer</th>
    <th>Date First Task Completed By personnel</th>
    <th>Date of update/changes</th>
    <th>Date of update/changes</th>
    <th>Date of update/changes</th>
  </tr>
  </thead>
  <tbody>
  <% @bsp_trainings.each do |bsp| %>
      <tr>
        <td><%= bsp.date %></td>
        <td><%= image_tag bsp.signature_of_dd, size: 125 %></td>
        <td><%= bsp.initial %></td>
        <td><%= image_tag bsp.signature_of_trainer, size: 125 %></td>
        <td><%= bsp.first_task_completed_date %></td>
        <td><%= bsp.date_of_change_1 %></td>
        <td><%= bsp.date_of_change_2 %></td>
        <td><%= bsp.date_of_change_3 %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>