
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
      <div class="form-group">
        <%= f.text_field :individual_id, class: 'form-control', required: true%>
        <%= f.label :individual_id, 'Individual Id', class: 'form-control-placeholder' %>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name,class: 'form-control', required: true %>
        <%= f.label :last_name,  class: 'form-control-placeholder' %>
      </div>

      <label class="radio-inline">
        <%= f.radio_button :title, 'MD' %> MD
      </label>
      <label class="radio-inline">
        <%= f.radio_button :title, 'DD' %> DD
      </label>
      <div class="form-group">
        <%= f.text_field :telephone,class: 'form-control',required: true %>
        <%= f.label :telephone, 'Telephone', class: 'form-control-placeholder' %>
      </div>

      <div class="form-group">
        <%= f.text_field :medicare_number,class: 'form-control', required: true %>
        <%= f.label :medicare_number,  class: 'form-control-placeholder' %>
      </div>
      <div class="form-group">
        <%= f.text_field :tabs_id,class: 'form-control', required: true %>
        <%= f.label :tabs_id,'TABS ID',  class: 'form-control-placeholder' %>
      </div>
      <div class="form-group">
        <%= f.label :state, "State", style: 'opacity: .5;' %><br />
        <%= f.select(:state, [], {}, { :class => 'form-control chosen-select', required: true}) %>
      </div>
      <div class="form-group">
        <%= f.text_field :address_2,class: 'form-control', required: true %>
        <%= f.label :address_2,  class: 'form-control-placeholder' %>
      </div>
      <div class="form-group">
        <%= f.label :ethnicity, "ethnicity", style: 'opacity: .5;' %><br />
        <%= f.select(:ethnicity, ['White','Black', 'Brown'], {}, { :class => 'form-control chosen-select', required: true}) %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
      <div class="form-group">
        <%= f.text_field :first_name,class: 'form-control', required: true %>
        <%= f.label :first_name,  class: 'form-control-placeholder' %>
      </div>
      <div class="form-group">
        <%= f.email_field :email,class: 'form-control', required: true %>
        <%= f.label :email,'Email Address',  class: 'form-control-placeholder' %>
      </div>
      <label class="radio-inline">
        <%= f.radio_button :gender, 'male' %> Male
      </label>
      <label class="radio-inline">
        <%= f.radio_button :gender, 'female' %> Female
      </label>
      <div class="form-group">
        <%= f.text_field :phone,class: 'form-control', required: true %>
        <%= f.label :phone,'Cell Phone',  class: 'form-control-placeholder' %>
      </div>
      <div class="form-group">
        <%= f.text_field :medicaid_number,class: 'form-control', required: true %>
        <%= f.label :medicaid_number,  class: 'form-control-placeholder' %>
      </div>
      <div class="form-group" id="city-load">
        <%= f.label :country, "Country", style: 'opacity: .5;' %><br />
        <%= f.select(:country, CS.countries.collect { |key, val| [val, key] }, {}, { :class => 'form-control chosen-select', required: true}) %>
      </div>
      <div class="form-group">
        <%= f.text_field :zip,class: 'form-control', required: true %>
        <%= f.label :zip,  class: 'form-control-placeholder' %>
      </div>

      <div class="form-group">
        <%= f.text_field :address_1,class: 'form-control', required: true %>
        <%= f.label :address_1,  class: 'form-control-placeholder' %>
      </div>

      <div class="form-group">
        <label class="radio-inline">
          <%= f.check_box :active,class: 'form-controls' %>
          <%= f.label :active %>
        </label>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 savebut">
      <button type="submit" class="btn btn-default">Save</button>
    </div>

    <script type="application/javascript">
      $(function() {
        var countrySelector = $('#user_country');
        var state = "<%= f.object.state %>";
        $('.datepicker').datepicker();
        $('.chosen-select').chosen({});
        state_select(countrySelector.val(), state);
        countrySelector.change(function() {
          var country = $(this).val()
          state_select(country, '');
        });
      })
        function state_select(country, state) {
          if(country) {
            $.ajax({
              type: 'get',
              url: '<%= load_state_path %>',
              data: {country: country, id: "user_state", state: state},
              dataType: 'script',
            });
          }
        }
    </script>