<div id="page-wrapper">
  <div class="row">
    <p>&nbsp;</p>
    <p><h1>Edit Individual</h1></p>
    <%= form_for(@user, url: update_individual_user_path(@user), method: 'PUT',html: {class: 'fromlist'}) do |f| %>
        <%= render 'form', f: f %>
    <% end %>
  </div>
</div>