<div id="page-wrapper">
    <div class="row">
      <p>&nbsp;</p>
      <div class="panel panel-default">
        <div class="panel-heading indiviuals_list">
          <span>Individuals List</span>
          <ul class="list_select">
            <li>
              <select class="form-control">
                <option>S.NO.</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </li>
            <li>
              <select class="form-control">
                <option>Status</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </li>
            <li>
              <select class="form-control">
                <option>Gender</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </li>
          </ul>
          <div class="searchbox">
            <div class="form-group input-group">
              <%= image_tag 'search.png' %>
              <%= form_tag(users_path, method: :get)  do %>
              <%= text_field_tag(:search, params[:search], class: 'form-control' )%>
              <% end %>
            </div></div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <th>S. No.</th>
                <th>Individual ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
                <% if current_user.admin? %>
                <th colspan="2">Action</th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% @users.each_with_index do |user ,i| %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= user.id %></td>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td>
                      <% if user.active? %>
                          <%= image_tag 'active.png' %>
                      <% else %>
                        Inactive
                      <% end %>
                    </td>
                    <% if current_user.admin? %>
                        <td><%= link_to edit_user_path(user) do %>
                              <%= image_tag 'setting.png' %> Edit
                          <% end %></td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>


        <!-- /.panel-body -->
      </div>
      <%= link_to 'Add New Entry', new_user_path, class: 'btn add_entry' if current_user.admin? %>
    </div>
    <!-- /.row -->
  </div>
