<div id="page-wrapper">
  <div class="row">
    <p>&nbsp;</p>
    <p><h1>Create Individual</h1></p>
    <%= form_for(@user, url: add_individual_users_path, method: 'POST',html: {class: 'fromlist'}) do |f| %>
        <%= render 'form', f: f %>
    <% end %>
  </div>
</div>