<div id="page-wrapper">
  <div class="row">
    <p>&nbsp;</p>
    <div class="listtime">
      <ul>
        <li><%= image_tag 'billing1.png' %></li>
        <li><%= image_tag 'billing2.png' %></li>
        <li><%= image_tag 'billing3.png' %></li>
        <li><%= image_tag 'billing4.png' %></li>
        <li><%= link_to edit_password_users_path  do %>
              <%= image_tag 'billing5.png' %>
          <% end %>
        </li>
        <li><%= image_tag 'billing6.png' %></li>
      </ul>

      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.row -->
</div>