<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header col-md-6">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html"><%= image_tag 'logo.png', alt: '' %></a>
    <span>Quality Comfort Living Services LLC</span>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" href="#">
        <%= image_tag 'icon1.png', alt: '' %> Save
      </a>

      <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" href="#">
        <%= image_tag 'icon2.png', alt: '' %>Print
      </a>

      <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle save-as-pdf" data-toggle="dropdown" href="javascript:void(0)">
        <%= image_tag 'icon3.png', alt: '' %>Save As PDF
      </a>

      <!-- /.dropdown-alerts -->
    </li>

  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="<%= user_settings_path(current_user) %>"><%= image_tag 'left_icon1.png', alt: '' %> Settings</a>
        </li>
        <li>
          <a href="javascript:;"><%= image_tag 'left_icon2.png', alt: '' %>  Individual</a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to 'Individuals', users_path %>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"><%= image_tag 'left_icon3.png', alt: '' %>  eDoc Suite</a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to 'ISP/BSP Training', bsp_trainings_path %>
            </li>

            <li>
              <%= link_to 'Services LLC', llc_services_path %>
            </li>
            <li>
              <%= link_to 'Monthly Behavior Support Data', behaviors_path %>
            </li>
            <li>
              <%= link_to 'Medications', medications_path %>
            </li>

            <li>
              <%= link_to 'Medication Counts', medication_counts_path %>
            </li>

            <li>
              <%= link_to 'Medication Adminstration Records', mars_path %>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"><%= image_tag 'left_icon4.png', alt: '' %>  Folders</a>
        </li>
        <li>
          <a href="javascript:;"><%= image_tag 'left_icon5.png', alt: '' %>  Calendars</a>

        </li>
        <li>
          <a href="javascript:;"><%= image_tag 'left_icon6.png', alt: '' %>  Help and Support</a>

        </li>
        <li>
          <%= link_to destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' do %>
              <%= image_tag 'left_icon7.png', alt: '' %> Logout
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>