<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header col-md-6">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html"><%= image_tag 'logo.png', alt: '' %> </a>
    <span>Quality Comfort Living Services LLC</span>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" href="#">
        <%= image_tag 'icon4.png', alt: '' %> Services
      </a>

      <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" href="#">
        <%= image_tag 'icon5.png', alt: '' %> Contact Us
      </a>

      <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
       <%= image_tag 'icon6.png', alt: '' %> Help
      </a>

      <!-- /.dropdown-alerts -->
    </li>

    <li>
      <%#= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %>
    </li>
  </ul>

</nav>