/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require bootstrap-datetimepicker
 *= require bootstrap-datepicker
 *= require chosen
 *= require_tree .
 *= require_self
 */


#notification {
    position: absolute;
    width: 450px;
    left: 35%;
    top: -60px;
    border-radius: 5px;
    display: none;
    text-align: center;
    z-index: 99999;
    font-size: 16px;
}

.alert-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: -10px;
    /*padding: 7px 7px 0 0;*/
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus + .form-control-placeholder{
    font-size: 100%;
    transform: translate3d(0, -100%, 0);
    opacity: .5;
}

.signature_pad {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.signature_pad_body canvas {
  width: 100%;
  height: 100%;
  border: dotted #444;
  background: #CCCCCC;
}

.addmore-btn {
  text-decoration: none !important;
  color: #333333 !important;
}
