<!DOCTYPE html>
<html>
   <%=  render 'shared/head' %>
  <body>
  <div id="wrapper">
    <% if  current_user.present? %>
        <%= render 'shared/left_nav' %>
        <% else %>
        <%= render 'shared/nav' %>
    <% end %>
        <%= render 'shared/flash_message' %>
        <%= render 'shared/notification' %>
        <%= yield %>
  </div>
  </body>
</html>
